@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ჰედერის სტილები */
header {
  height: 50px;
}

.header-container {
  display: flex;  
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-container__text {
  width: 88px;
  height: 30px;

  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-size: 26px;
}
.header-wraper {
  display: flex;
  height: 33px;
  align-items: center;
}
.join-container {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgba(102, 102, 102, 1);
}
.about-container {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-left: 41px;
  color: rgba(102, 102, 102, 1);
}
.language-container {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-left: 41px;
  color: rgba(102, 102, 102, 1);
}
.flag {
  width: 30px;
  height: 33px;
  margin-left: 5px;
}

/* ნავიგაცია */
.navigation {
  display: flex;
  height: 67px;

  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
  justify-content: center;
}
.navigation ul {
  display: flex;
  /* gap: 10px; */
}

.nav-text {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

li {
  width: 248.75px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 241, 241, 1);
}
li:first-child {
  background-color: rgba(242, 122, 26, 1);
}

a:hover {
  
  font-size: 25px;
}

.girl-image {
  height: 450;
  width: 100%;
  object-fit: cover;
  margin-bottom: 27px;
}
.body-container {
  width: 100%;

  background-color: rgba(143, 1, 51, 1);
  padding-left: 100px;
  padding-right: 100px;
}

.text-title {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
  color: rgba(34, 34, 34, 1);
}

.text-title1 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 25.78px;
}

.table {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 41px;
}

.first-table {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
}
td,
th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #dddddd;
}
td:nth-child(1) {
  font-size: 50px;
  font-weight: 800;
  color: rgba(210, 198, 198, 1);
  text-align: center;
}
td:nth-child(3) {
  font-size: 23px;
  font-weight: 800;
  color: black;
  text-align: center;
}
.videoimage {
  height: 684 px;
  padding-left: 117px;
  padding-right: 118px;
  background-color: rgba(143, 1, 51, 1);
}
.video-image {
  width: 100%;
  object-fit: contain;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 53px;
}

.next-container {
  width: 100%;
  padding-top: 53px;
  margin-top: 53px;
  padding-left: 100px;
  padding-right: 100px;
}

.shoping {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 53px;
  margin-top: 53px;
}

.shopping-image {
  width: 100%;
  
}

.footer-box{
  display: flex;
  align-items: center;
  width: 100%;
  height: 21px;
  justify-content: center;
  margin-top: 20px;
}

.fa-regular{
  size: 20px;
  
  
}

.text-footer {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21.09px;
}

.footer-divider{
  width: 3px;
  height: 21px;
}